/*nav.css*/
/*.navbar-inner *{outline:1px solid blue;}*/

ul.nav li{ margin-left: 60px;}
.navbar .nav > .active > a > img { margin-top:-12px; }
.navbar .nav > li > a:hover img { margin-top:-12px; }
.navbar .nav > li > a img { margin-top:-12px; }