/*nav.css*/
/*.navbar-inner *{outline:1px solid blue;}*/


.navbar .nav > .active > a > img { margin-top:-12px; }
.navbar .nav > li > a:hover img { margin-top:-12px; }
.navbar .nav > li > a img { margin-top:-12px; }
.navbar .nav > li > a {
	padding: 7px 0 0 0;
	display: block; 
}

ul.nav li { 
	margin-left: 40px; 
	width: 25px; 
	height: 25px; 
	
	background-image: url(../img/playbasis_logo.png) no-repeat;
}
.navbar .nav > li.active > a img { visibility: hidden; }