/*pbd.css*/
/*sturcture*/
	.pbd_quote{ font-size: .6em; font-weight: lighter;}
	.pbd_slide_wrapper{ height: 100%; overflow: auto; }
	.pbd_panel{width: 48%; float: left; margin-left: 12px;}

	.pbd_topic_header{font-size: .9em; margin-top: 40px;}
 	.pbd_topic_content{font-size: .6em;line-height: 24px;}


 	/*SLIDE_5 ECOMMERCE INTEGRATION*/
 	.pbd_cover_panel .pbd_panel{margin-top:40px;}
 	.pbd_cover_panel .pbd_panel .pbd_topic_header{margin-top:0px;}


 	/*SLIDE_6 REWARD SYSTEM*/
 	.pbd_col_panel{width: 32%; float: left; margin: 0px 0px 0px 8px}
	.pbd_context_col{width: 100%; height: 220px; overflow: hidden;}
	.pbd_context_col_desc{margin-top: 20px; padding: 4px; font-size: .6em;line-height: 24px;}
 			



 	ul.pbd_sample_context_list {list-style-type: none; padding: 0px;margin-top: 30px;}
	ul.pbd_sample_context_list li{margin:12px 0px 0px 0px; overflow: hidden;}
		.pbd_sample_context{width: 300px; height: 180px;}
		.pbd_context_content{width: 100%; height: 100%;  /*background:#62F57F;*/}
		.context_button{font-weight: bold;  padding:4px 14px;  float: right; margin:-40px 8px 0px 12px; cursor: pointer;}
		.pbd_cover_panel{ width: 100%; height: 49%; margin:2px 0px;}



/*decor*/

	.pbd_sample_context{ /*add shadow*/
		margin: 2px
		-webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.62);
		-moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.62);
		box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.62);
	}

	.pbd_sample_context img{border: 1px solid #ddd;}



/*FIXED	*/
	.pbd_slide1{margin:-180px;}
	.pbd_slide1 .hello{margin-top: -20px}


.active { display:inline-block; }
#playbasis_bar span { padding: 5px 5px; color: white; }
#playbasis_bar li { float: left; display: inline;}
#playbasis_bar .pull-left { width: 425px; }

li.progressbar { display: inline; float:right; line-height: 33px;}
li.progressbar .progress { width:200px; height: 8px; margin-top: 13px; float: left;}
li.progressbar .level { display:inline; height:35px; float: left; }
li.progressbar .level span { padding: 5px 5px;}
li.progressbar { visibility: hidden; }
li.progressbar.active { visibility: visible; }

#user { line-height: 33px; }
#login, #logout, #user { display: none; }
#login.active, #logout.active, #user.active { display: block; }
#footer { position:fixed; bottom: 0px; height: 30px; width:100%; }
#footer .center { width:720px; margin: 0 auto; }


/*
    customize css by playbasis
*/
#playbasis_bar {
    width: 100%;
    height: 35px;
    background-color: black;
    /*top:40px;*/
}

#logo {
    width: 114px;
    height: 35px;
    background-image:url('../img/logo-playbasis.png');
    background-size:114px 35px;
    display: inline-block;
}