// @import "compass/reset";
@import "compass/utilities";

$red: #FF0000;
$skyblue: #14a3db;
$grey: #ccc;


//  function for animation helper
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

@mixin animation($animation-1: default, $animation-2: false, $animation-3: false, $animation-4: false, $animation-5: false, $animation-6: false, $animation-7: false, $animation-8: false, $animation-9: false, $animation-10: false) {

 	// TODO: Need to add options/defaults value
	// @if $animation-1 == default {
	//    	$animation-1: -compass-space-list(
	//    		compact(
	//    			if(	$default-animation-name, inset, false), 
	//    				$default-animation-h-offset, 
	//    				$default-animation-v-offset, 
	//    				$default-animation-blur, 
	//    				$default-animation-spread, 
	//    				$default-animation-color
	//    			)
	//    		);
	// }
  
  	$animation: compact($animation-1, $animation-2, $animation-3, $animation-4, $animation-5, $animation-6, $animation-7, $animation-8, $animation-9, $animation-10);
  	@include experimental(animation, $animation, -moz, -webkit, -o, -ms, not -khtml, official); 
}